* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.error-page-wrap {
    position: relative;
    width: 100%;
    height: 78vh;
}
.error-block {
    margin-bottom: 20px;
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    margin: auto;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.error-block h1 {
    font-size: 108px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -12px;
    color: #030005;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
    letter-spacing: -7px;
}
.error-block h2 {
    font-size: 42px;
    font-weight: 700;
    color: #ff5e69;
    text-transform: uppercase;
    text-shadow: 0px 2px 0px #1a263a;
    letter-spacing: 4px;
    margin: 0;
}
.error-block a {
    display: inline-block;
    text-transform: uppercase;
    color: #0e68b1;
    text-decoration: none;
    border: 2px solid;
    background: transparent;
    padding: 5px 8px;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    text-align: center;
    margin: 30px auto;
}
.error-block .fa {
    font-size: 22px;
    margin-right: 8px;
}
.error-block a:hover {
    color: #000;
}
.error-block img {
    max-width: 388px;
    width: 90%;
    margin: 0 auto 34px;
}
@media only screen and (max-width: 991px) {
    .error-block h1 {
        font-size: 78px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0;
        letter-spacing: 0;
    }
    .error-block h2 {
        font-size: 21px;
         letter-spacing: 1px;
    }
}
