<template>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered confirm-delete-modal" role="document">
            <div class="modal-content">
               
                    <div class="modal-center-wrap text-center">
                        <button type="button" class="close position-absolute absolute-right p-3" data-dismiss="modal" aria-label="Close" @click.prevent="">
                         <span aria-hidden="true"><i class="la la-close"></i></span>
                     </button>
              
                        <h5>{{ trans('lang.labels.are_you_sure') }}</h5>
                        <h6>{{ trans('lang.messages.' + message) }}</h6>
                        <div class="mt-4">
                            <button class="btn btn-danger mobile-btn" type="submit" @click.prevent="buttonAction()">{{ trans('lang.labels.'+firstButtonName) }} </button>
                            <button class="btn btn-secondary cancel-btn mobile-btn" data-dismiss="modal" @click.prevent="">{{ trans('lang.labels.'+secondButtonName) }} </button>
                        </div>
                    </div>
              
            </div>
        </div>
    </div>
</template>

<script>
    export default {
       props:['message','firstButtonName','secondButtonName'],
        data()
        {
            return{

            }
        },
        methods:{
           buttonAction()
           {
               this.$emit('confirmationModalButtonAction');

           }
        }
    }
</script>
