<template>
	<div class="main-layout-wrapper sales-recieve-block">
		<div class="container-fluid">
		<nav aria-label="breadcrumb" class="row app-online-offline-status">
			<ol class="breadcrumb bg-transparent m-0 pl-0">
				<li v-if="!isConnected">
					<span class="offline-label mx-3 animated fadeIn delay-2s">
					<i class="la la-wifi text-danger"/> {{ trans('lang.labels.offline') }}
					</span>
				</li>
				<li id="onlineLabel" v-if="isConnected">
					<span class="online-label mx-3 animated fadeOut delay-5s">
					<i class="la la-wifi"/> {{ trans('lang.labels.online') }}
					</span>
				</li>
			</ol>
		</nav>
		<div class="d-flex row" style="height: calc(100vh - 6rem);">
			<!-- left side for search and result section -->
			<div class="col-xl-8 col-lg-7">
			<div style="flex: 1 0;">
				<div class="main-layout-card mb-75">
					<div class="main-layout-card-content">
						<div class="row mx-0">
							<div class="col-md-12 p-0">
								<!--Product search starts-->
								<div class="input-group custom-search-block">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="la la-search"></i></span>
									</div>
									<input id="search"
										type="text"
										class="form-control pr-4 rounded-right"
										:placeholder="trans('lang.labels.search_product')"
										aria-label="Search"
										aria-describedby="search"
										v-model="productSearchValue"
										@keyup="searchProductInput"
										ref="search">
									<div v-if="productSearchValue">
										<i class="la la-close position-absolute p-1 customer-search-cancel"
											@click.prevent="productSearchValue = '', getProductsBySearchBtn()">
										</i>
									</div>
								</div>
								<!--Product search ends-->
							</div>
						</div>
					</div>
				</div>
				<!--Products result starts-->
				<pre-loader
					v-if="!hideProductSearchPreLoader">
				</pre-loader>
				<div v-else>
					<div class="row all-products mr-0 product-cells-wrap">
						<div class="col-md-6 col-xl-3 col-lg-6 pr-0 mb-75 pl-75 standard-product" 
							v-for="product in products">
							<a href="#" class="app-color-text" data-toggle="modal"
								@click.prevent="productCardAction(product)">
								<div class="product-card-font position-absolute rounded-right app-color text-white product-price price-section">
									{{ numberFormat(product.sale_price) }}
								</div>
								<div class="product-card bg-white rounded">
									<div class="product-img-container image-property"
										:style="[ product.image ? { 'background-image': 'url(' + publicPath+ product.image_url + ')' } : null ]">
									</div>
									<div class="product-card-content product-content">
										<div class="position-relative h-100">
											<!-- Standard product -->
											<div class="h-100">
												<div class="h-100">
													<div class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center">
														<span class="limit"> {{ product.name }} </span>
													</div>
												</div>
												<div v-if="product.is_out_of_stock"
                                                     class="product-card-font warning-message text-white sold-out">
                                                    {{trans('lang.labels.out_of_stock')}}
                                                </div>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-12"
							v-if="products.length==0">
							<div class="main-layout-card">
								<div class="main-layout-card-content text-center no-data">
								<span>	{{trans('lang.messages.no_result_found')}} </span>
								</div>
							</div>
						</div>
						<div v-if="showLoadMore && isConnected && isEmptyObj(productSearchValue)"
							class="col-12 text-center">
							<load-more :buttonLoader="buttonLoader" :isDisabled="isLoadMoreDisabled"
								@submit="loadMoreSubmit"></load-more>
						</div>
					</div>
				</div>
				<!--Products result ends-->
			</div>
			</div>

			<!-- right section for cart component -->
			<div class="col-xl-4 col-lg-5">
			<div id="layoutTop" style="position: relative;">
				<div class="main-layout-card">
					<cart-component v-if="isCartComponentActive"
						:add_customer="addcustomer"
						:offline_customers="offlineCustomers"
						:customer_not_added="customerNotAdded"
						:selected_customer="selectedCustomer"
						:newAddedCustomer="newAddedCustomer"
						:cart_arr="cart"
						:active_product_id="activeProductId"
						:user="user"
						:final_cart="finalCart"
						:invoice_logo="null"
						:last_invoice_number="lastInvoiceNumber"
						:sub_total="subTotal"
						:tax_total="taxTotal"
						:discount_total="discountTotal"
						:grand_total="total"
						:tax_information="tax"
						:discount_amount="discount"
						@activeCartPaymentModal="activeCartPaymentModal"
						@selectCustomerFromCart="selectCustomerFromCart"
						@removeSelectedCustomerFromCart="removeSelectedCustomerFromCart"
						@setCartItemsToCookieOrDBFromCart="setCartItemsToCookieOrDBFromCart"
						@allProductDiscountFromCart="allProductDiscount"
					></cart-component>
				</div>
			</div>
			</div>
		</div>
		</div>
		<!-- Confirmation Modal for cancel the order -->
		<confirmation-modal id="clear-cart-modal"
			:message="'order_will_be_cancelled'"
			:firstButtonName="'yes'"
			:secondButtonName="'no'"
			@confirmationModalButtonAction="confirmationModalButtonAction"/>
		<!-- End Modal -->

		<!-- Show Cart Payment Modal Structure -->
		<div class="modal fade modal-hide" id="cart-payment-modal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered biggest-modal-dialog" role="document">
				<cart-payment-details v-if="isPaymentModalActive"
					class="modal-content"
					:sold_to="'sold_to'"
					:sold_by="'sold_by'"
					:finalCart='finalCart'
					:ncfs='ncfs'
					:currencies='currencies'
					:bank_accounts='bank_accounts'
					:user="user"
					:orderID="orderID"
					@setDestroyCart="destroyCart"
					>
				</cart-payment-details>
			</div>
		</div>
		<!-- End Modal -->
	</div>
</template>
<script>
	import { delayCall } from "../../helper/delayCall";
	import axiosGetPost from '../../helper/axiosGetPostCommon';
	import {
	    subTotalAmount,
	    cartItemsToCookie,
	    deleteCartItemsFromCookieOrDB,
	} from './helper/salesComponentCommonMethod.js';
	import { productConverter, concatProductArray } from './helper/productConverter'
	import { productRequestGenerator } from './helper/helpers'
	export default {
	    props: [
	        'user',
	        'addcustomer',
	        'customer',
	        'ncfs',
	        'currencies',
	        'bank_accounts',
	    ],
	    extends: axiosGetPost,
	    data: () => ({
	        //products variables
	        products: [],
	        productSearchValue: null,
	        barcodeSearch: false,
	        hideProductSearchPreLoader: false,

	        //customers variables
	        customerNotAdded: true,
	        selectedCustomer: [],
	        newAddedCustomer: [],
	        customerSearchValue: '',

	        //cart variables
	        cart: [],
	        isPaymentModalActive: false,

	        //final cart variables
	        finalCart: [],
	        total: 0,
	        subTotal: 0,
	        taxTotal: 0,
	        discountTotal: 0,
	        grandTotal: 0,

	        tax: 0,
	        discount: null,
	        newdiscount: null,
	        orderID: null,

	        // Active keyboard event
	        productDetails: [],
	        productOfflineData: [],
	        offlineCustomers: [],
	        hideOnlineMessage: false,
	        totalStorage: 4500,
	        remainingStorage: null,
	        minimumSizeOfLocalStorage: 500,
	        isCartComponentActive: false,

	        isEmptyObj: (object) => {
	            if (_.isEmpty(object)) {
	                return true;
	            } else {
	                return false;
	            }
	        },

	        activeProductId: '',
	        lastInvoiceNumber: '',

	        // load more btn
	        buttonLoader: false,
	        isLoadMoreDisabled: false,
	        showLoadMore: false,
	        loadMoreBtnOffset: 0,
	        productRowLimit: 28,
	        totalProductCount: 0,
	        totalProducts: 0,
	    }),

	    methods: {
	        focusOnSearchBar(withTimeOut = true) {
	            let instance = this;
	            if (withTimeOut) {
	                setTimeout(() => {
	                    this.isCartComponentActive = true;
	                    instance.$refs.search.focus();
	                }, 1000);
	            } else {
	                instance.$refs.search.focus();
	            }
	        },
	        onlineOfflineStatus(value) {
	            let instance = this;
	            if (value) {
	                this.hideOnlineMessage = true;
	                setTimeout(function () {
	                    instance.hideOnlineMessage = false;
	                }, 3000);
	            }
	        },
	        confirmationModalButtonAction() {
	            this.orderID = null;
	            this.invoiceId = null;
	            this.destroyCart(true);
	            $('#clear-cart-modal').modal('hide');
	        },
	        destroyCart(check) {
	            if (check) {
	                deleteCartItemsFromCookieOrDB(this.user, 'sales', this.appVersion);
	                this.cart = [];
	                this.discount = null;
	                this.tax = [];
	                this.grandTotal = 0;
	                this.total = 0;
	                this.subTotal = 0;
	                this.taxTotal = 0;
	                this.discountTotal = 0;
	                this.date = null;
	                this.selectedCustomer = [];
	                this.customerNotAdded = true;
	                this.customerSearchValue = '';
	                this.branchSearchValue = '';
	                this.newdiscount = null;
	                this.addShipping = false;
	            }
	        },
	        activeCartPaymentModal(value) {
	            this.finalCart = value;
	            this.isPaymentModalActive = true;
	        },
	        getProductsBySearchBtn() {
	            if (navigator.onLine) this.getProductData();
	            else this.getProductDataOfflineSearch();
	        },
	        setCartItemsToCookieOrDBFromCart(flag) {
	            this.setCartItemsToCookieOrDB(flag);
	        },
	        removeSelectedCustomerFromCart(selectedCustomer) {
	            this.customerNotAdded = true;
	            this.selectedCustomer = selectedCustomer;
	            this.customerSearchValue = '';
	        },	
	        selectCustomerFromCart(selectedCustomer) {
	            this.customerNotAdded = false;
	            this.selectedCustomer = selectedCustomer;
	            this.customerSearchValue = '';
	        },
	
	        getProductDataOfflineSearch() {
	            let instance = this;
	            if (this.productSearchValue == '' || this.productSearchValue == null) {
	                instance.products = instance.productOfflineData.slice(0, instance.productRowLimit);
	            } else {
	                let sortedProducts = instance.productOfflineData;
	                instance.products = sortedProducts.filter(function (element) {
	                    return element.name.toLowerCase().includes(instance.productSearchValue.toLowerCase()) ||
	                    		(element.barcode && element.barcode.toLowerCase().includes(instance.productSearchValue.toLowerCase()));
	                });
	                // let productBarcodedSearch = this.productBarcodedSearch();
	                if (this.productSearchValue == null) {
	                    instance.products = instance.productDetails.slice(0, instance.productRowLimit);
	                }
	            }
	            instance.hideProductSearchPreLoader = true;
	
	            /*instance.$nextTick(function () {
	                instance.productHeightSet();
	            });
	
	            instance.adjustPrice();*/
	        },
	        
	        getProductData() { 
	            // get the product data for online
	            let instance = this;
	            instance.hideProductSearchPreLoader = false;
	            let data = {
	                limit: instance.productRowLimit,
	                offset: instance.loadMoreBtnOffset,
	                searchValue: instance.productSearchValue,
	            },
	            postUrl = '/inventories/search';
	            instance.axiosGETorPOST(
	                {
	                    url: postUrl,
	                    postData: data,
	                },
	                (success, responseData) => {
	
	                    if (success) //response after then function
	                    {                            
	                        instance.hideProductSearchPreLoader = true;
	                        instance.totalProducts = responseData.total_products;
	                        if (responseData.barcodeResultValue) {
	                            instance.barcodeSearch = true;
	                            //instance.barcodeSearchedProductAddToCart(responseData.barcodeResultValue);
	                            this.productSearchValue = '';
	                        } else {
	                            if (instance.loadMoreBtnOffset <= 0) {
	                                this.products = responseData.products;
	                                this.productDetails = responseData.products;
	                            } else {
	                                this.products = this.products.concat(
	                                    responseData.products
	                                );
	
	                                this.productDetails = this.productDetails.concat(
	                                    responseData.products
	                                );
	                            }
	                        }
	
	                        instance.$nextTick(function () {
	                            instance.productHeightSet();
	                        });
	                        instance.buttonLoader = false;
	                        instance.isLoadMoreDisabled = false;
	                        instance.controlShowLoadMore();
	                    }
	
	                }
	            );
	        },
	        searchProductInput(event) {
	            let instance = this;

	            if (instance.productSearchValue) {
	                // if someone click on the enter button after typing the term
	                if (event.keyCode == 13) {
	                    // instance.barcodeSearch = true;
	                    instance.getProductDataOfflineSearch();
	                    // instance.productSearchValue = null;
	                } else {
	                    delayCall(function () {
	                    	instance.getProductDataOfflineSearch();
	                    });
	                }
	            } else {
	            	// someone clear the search input box.
	                if (navigator.onLine) {
	                    this.loadMoreBtnOffset = 0;
	                    instance.getProductData();
	                    instance.getProductDataForOffline(); 
	                } else {
	                    instance.getProductDataOfflineSearch();
	                }
	            }
	        },
	        allProductDiscount(value, index, unformatted) {
                let instance = this;
                instance.discount = value;
                instance.newdiscount = unformatted;
                this.cart.forEach(function (element) {
                    if (element.quantity > 0) {
                        element.discount = instance.discount;
                    }
                });
                instance.setCartItemsToCookieOrDB(1);
            },
	        productHeightSet() {
	            $("div.product-card-content").removeAttr("style");
	            this.$nextTick(function () {
	                var maxHeight = 0;
	                $("div.product-card-content").each(function () {
	                    if ($(this).height() > maxHeight) {
	                        maxHeight = $(this).height();
	                    }
	                });
	                $("div.product-card-content").css('height', maxHeight + 'px');
	            })
	        },	        
	        getProductDataForOffline() {
	            // get all the remaining products and save into instance for offline.
	            let instance = this;
	            let data = {
	                searchValue: '',
	                rowLimit: null,
	                offset: 0,
	            };
	            productRequestGenerator(this.totalProducts, data).then(responseData => {
	                let products = concatProductArray(responseData);
	                this.productOfflineData = products;
	                this.totalProductCount = products.length;
	                instance.controlShowLoadMore();
	            });
	
	        },
	        controlShowLoadMore() {
	            let instance = this;
	            if (instance.totalProductCount > instance.products.length) instance.showLoadMore = true;
	            else instance.showLoadMore = false;
	        },
	        productCardAction(product) {
	            this.addProductToCart(product);
	        },
	
	        addProductToCart(product) {
	            let flag = 0,
	                instance = this;
	            instance.activeProductId = product.id;
	
	            setTimeout(function () {
	                instance.activeProductId = '';
	            }, 1000);
	
	
	            if (this.cart.length > 0) {
	                this.cart.forEach(function (cartItem, index, cartArray) {
	                    if (cartItem.productID == product.id) {
	                        cartArray[index].quantity++;
	                        if (product.track_inventory && cartArray[index].quantity > product.quantity) {
                                let alertMessage = product.name+' ' + instance.trans('lang.labels.is_out_of_stock');
                                instance.showWarningAlert(alertMessage);
                            }
	                        flag = 1;
	                    }
	                });
	            }
	            if (flag == 0) {
	            	if (product.track_inventory && product.quantity <= 0) {
                        let alertMessage = product.name+' ' + instance.trans('lang.labels.is_out_of_stock');
                        instance.showWarningAlert(alertMessage);
                    }
	                this.cart.push({
	                    productID: product.id,
	                    productTitle: product.name,
	                    productPrice: product.sale_price,
	
	                    taxID: product.tax_id ? product.tax_id : 0,
	                    taxName: product.tax_id ? product.calculation.taxInfo.formatted_name : '',
	                    taxAmount: product.calculation.taxAmount,
	
	                    totalPrice: product.calculation.total,
	
	                    calculatedPrice: product.calculation.total,
	                    // calculatedTax: product.calculation.taxAmount,
	
	                    quantity: 1,
	                    discount: this.discount,
	                });
	            }
	            this.setCartItemsToCookieOrDB(1);
	        },
	        setCartItemsToCookieOrDB(flag = 0) {
	            let obj = {
	                user: this.user,
	                cart: this.cart,
	                discount: this.discount,
	                selectedCustomer: this.selectedCustomer,
	                orderID: this.orderID,
	                customerNotAdded: this.customerNotAdded,
	            },
	            // cookieData
	            cookieData = cartItemsToCookie(flag, obj, this.appVersion);
	
	            this.setCookieDataToGlobal(cookieData);
	            //subTotalAmount
	            let subTotalAmountMethodData = subTotalAmount(this.total, this.tax, this.subTotal, this.cart);
	            this.setSubTotalDataToGlobal(subTotalAmountMethodData);
	        },
	        setCookieDataToGlobal(cookieData) {
	            this.customerNotAdded = cookieData.customerNotAdded;
	            this.discount = cookieData.discount;
	            this.orderID = cookieData.orderID;
	            this.cart = cookieData.cart;
	            this.selectedCustomer = cookieData.selectedCustomer;
	        },
	        setSubTotalDataToGlobal(subTotalAmountMethodData) {
	            this.total = subTotalAmountMethodData.total;
	            this.tax = subTotalAmountMethodData.taxInformation;
	            this.subTotal = subTotalAmountMethodData.subTotal;
	            this.taxTotal = subTotalAmountMethodData.taxTotal;
	            this.discountTotal = subTotalAmountMethodData.discountTotal;
	        },
	        // load more
	        loadMoreSubmit() {
	            this.buttonLoader = true;
	            this.isLoadMoreDisabled = true;
	            this.loadMoreBtnOffset += parseInt(this.productRowLimit);
	            this.getProductData();
	        },
	    },
	    watch: {
	    	discount: function (newVal, oldVal) {
                if (newVal != null && newVal != '') {
                    this.showDiscount = true;
                } else {
                    this.showDiscount = false;
                }
            },
	        totalProducts: {
	            handler: function (totalProducts) {
	                if (totalProducts > 0) {
	                    this.getProductDataForOffline();
	                }
	            }
	        },
	        isConnected: function (value) {
	            let instance = this;
	
	            if (this.offline == 1) {
	                if (value) {
	                    this.onlineOfflineStatus(value);
	                    this.showSuccessAlert(this.trans('lang.messages.online_alert'));
	                } else this.showOfflineAlert(this.trans('lang.messages.offline_alert'));
	            }
	        }
	    },
	    mounted() {
	        let instance = this;
	
	        // the customer prop value become the offline customers for searching and selection.
	        this.offlineCustomers = JSON.parse(this.customer);
	
	        // get all products and display on the main page.
	        instance.getProductData();
	        instance.getProductDataForOffline();
	
	        let stopPropagationElements = document.querySelectorAll("#d-1, #d-2");
	        for (let stopPropagationElement of stopPropagationElements) {
	            stopPropagationElement.addEventListener("click", function () {
	                event.stopPropagation();
	            });
	        }
	
	        $('#clear-cart-modal').on('hidden.bs.modal', function (e) {
	            $('.modal-backdrop').remove();
	        });
	
	        $('#cart-payment-modal').on('hidden.bs.modal', function (e) {
	            $('.modal-backdrop').remove();
	            instance.isPaymentModalActive = false;
	        });
	
	        instance.focusOnSearchBar();
	    },
	    created() {
	    	// fetch the cart items from the localhost and send it to the cart component.
	        this.setCartItemsToCookieOrDB();
	
	        window.addEventListener('online', () => {
	            // sync the sales that is save into the local storage.
	            this.storeLocalStorage();
	            this.productSearchValue = null;
	            this.getProductData();
	            this.getProductDataForOffline();
	        });
	    }
	}
</script>