<template>
	<div>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <a :href="publicPath">
                <img :src="publicPath + '/images/form-logo.png'" alt class="app-logo"/>
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hide-dropdown-icon"
                       href="#"
                       id="navbar-profile-dropdown"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                       @click.prevent="showSideNavAction(false)">
                        <img :src="publicPath + user.company.logo" alt class="rounded-circle avatar"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated bounceInDown profile-dropdown border-0 p-0"
                         aria-labelledby="navbar-profile-dropdown">
                        <div class="ticker"></div>
                        <img :src="publicPath + user.company.logo" alt class="rounded-circle avatar-large"/>
                        <div class="user-name">
                            <div>{{ user.name }}</div>
                        </div>
                        <div class="dropdown-divider m-0"></div>
                        <a :href="publicPath+'/logout'"
                           class="dropdown-item d-flex align-items-center p-2"
                           :class="{disabled:!isConnected && offline == 1}">
                            <i class="la la-sign-out la-2x pr-3"></i>
                            {{ trans('lang.labels.logout') }}
                        </a>
                    </div>
                </li>
            </ul>
            <!-- <div class="d-lg-none mobile-app-logo">
                <a :href="publicPath+'/dashboard'">
                    <img :src="publicPath + user.company.logo" alt/>
                </a>
            </div> -->
        </nav>
    </div>
</template>

<script>
    import axiosGetPost from "../../helper/axiosGetPostCommon";

	export default {
        props: ["user"],
        extends: axiosGetPost,
        data() {
            return {
                name: "",
                avatar: "",
                id: "",
                showSideNav: "",
            };
        },
        created() {
        },
        mounted() {},
        methods: {
            showSideNavAction(value) {
                if (value === false && this.showSideNav == "") {
                    this.showSideNav = "";
                } else {
                    this.showSideNav = value;
                }
            }
        }
    }
</script>